{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Medical Facility</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
  
  <style>
    #banner{
	background: url('/static/img/DO.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 690px;
	position: relative;
}


</style>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <!-- <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" class="img-responsive" style="width: 140px; margin-top: -16px;"></a> -->
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class=""><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Services</a></li>
                
                <li class="active"><a href="{% url 'chemist:order-medicine' %}">order-medicine</a></li>
                <li class=""><a href="{% url 'chemist:Dashboard' %}">My-Dashboard</a></li>
                <li class=""><a href="{% url 'chemist:Uploaded_Medi' %}">Uploaded Medicine</a></li>
                <li class=""><a href="#about">About</a></li>
                <!-- <li class=""><a href="#testimonial">Testimonial</a></li> -->
                <li class=""><a href="#contact">Contact</a></li>
                
                <li class=""><a class="" href="{% url 'chemist:logout' %}">Logout</a>
                  
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="banner-info ">
          <div class="banner-logo text-center">
            <!-- <img src="{% static 'img/logo.png' %}" class="img-responsive"> -->
          </div>
          <center style="box-shadow: 1px 1px 1px 1px white; padding: 30px;" >
            
              <h1  style="text-decoration: underline;" class="title">order your medicine </h1><br>
          <form method="POST"">
              {% csrf_token %}
              <!-- <div class="form-group">
                
                <input type="text" placeholder="Enter Product Name" class="form-control" name="productname" id="id_productname" style="width: 40%;">
              </div> -->
              <div class="form-group">
                
                <!-- <input type="text" placeholder="Enter Product Name" class="form-control" name="productname" id="id_productname" style="width: 40%;"> -->
                  <select name="productname" style="width: 40%; height: 40px; text-align: center;">
                  {% for i in prods %}
                  <option value="{{ i.id }}"> {{ i.productName }}</option>
                  {% endfor %}
                </select>
              </div>
              
              <div class="form-group" >
                <br>
                <input type="date" name="data" style="width: 40%; height: 40px; text-align: center; margin-bottom: 30px;">

                <input  type="number" placeholder="Enter Medicine quantity" class="form-control" name="productquantity" id="id_productquantity" style="width: 40%; text-align: center; padding: 8px;" max="500" min="1" pattern="[0-9.]+" onkeypress="if(this.value.length==3) return false;" min="1" max="500" maxlength="3">
              </div>
              <br>
              <br>
              <button type="submit" class="btn btn-success" style="padding: 5px;">Order Medicine</button>
            </form> </center>
            <div class="banner-text text-center">
              <!-- <h1 class="white">Medicine at your desk!!</h1> -->
              
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->
  
 
 
 
 
 
 
 
 
 
  <div class="icon-info">
  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p >User can see the location of chemist store where the medicines are available,User can see the details of medicine with categories and drug-name.
The user gets a doctor's reference.
</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>24 Hour Support</h4>
              <p >User can see the details of medicine 24 hours,<br>The user gets a doctor's reference,User can find the medicine in medical store 24 hours. </p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4>Emergency Services</h4>
              <p >In the case of emergency user can find medicine quickly and get the Doctor reference.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>  
            <h4>Medical Counseling</h4>
            <p>User can see the details of medicine with categories and drug-name and know about the use of medicine.
The user gets a doctor's reference.</p>                
</div>
</div>  

      </div>    
    </div>  
  </section>  
  <!--/ service-->
 
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">The Medilap <br>Ultimate Dream</h2>
            <hr class="botm-line">
            <p class="sec-para"  >To promote awareness of healthcare among all section of indian people.</p>
            <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
          </div>  
        </div>  
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>AIM 1</h3>
                <p >To promote awareness among functionaries involved in Health and Hospital Management. To promote research in the field of Health and Hospital Management.</p>
              </div>  
            </div>  
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>AIM 2</h3>
                <p>Making health facility safe in emergency.</p>
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </section>  
  <!--/ doctor team-->

  <!--/ testimonial-->
  <!--cta 2-->
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
        </div>  
        <div class="col-md-4 col-sm-5">
          Driven by creativity and innovation, we strive for excellence and to make a difference in the world of pharmaceuticals and healthcare.
           <p class="text-right text-primary"><i>— Uphar Healthcare</i></p>
        </div>   
        <div class="col-md-2"></div>
      </div>  
    </div>  
  </section>  
  <!--cta-->
  <!--contact-->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>  
        <div class="col-md-4 col-sm-4">
          <h3>Contact Info</h3>
          <div class="space"></div>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>321, Paldi<br> Ahmedabad, India </p>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>uphar@gmail.com</p>
          <div class="space"></div>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+91 9862357352</p>
        </div>  
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query!</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>  
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>  
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>  
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>  

              <div class="form-action">
                <button type="submit" class="btn btn-form">Send Message</button>
              </div>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </section>  
  <!--/ contact-->
  <!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">About Us</h4>
            </div>  
            <div class="info-sec">
              <p> Driven by creativity and innovation, we strive for excellence and to make a difference in the world of pharmaceuticals and healthcare.
              </div>  
          </div>    
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>  
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="#"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                <li><a href="#contact"><i class="fa fa-circle"></i>Query</a></li>
              </ul>  
            </div>  
          </div>  
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>  
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                <li class="bgred"><i class="fa fa-google-plus"></i></li>
                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
              </ul>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
    
  </footer>  
  <!--/ footer-->

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'contactform/contactform.js' %}"></script>

</body>  

</html>


