{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Records</title>     
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        th{
            background-color: rgb(7, 150, 216);
        }
        a:hover{
            color: rgb(81, 235, 34);
        }
        td{
            color: black;
        }
    </style>
</head>  
<body>  
<center>
    
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  

        <th><center>Medicine Name</center></th>
        <th><center>Batch</center></th>
        <th><center>Mfg</center></th>  
        <th><center>Quantity</center></th>
        <th><center>Rate</center></th>  
        <th><center>Amount</center></th>  
        <th><center>Formulation</center></th>  
        <th><center>Action</center></th>
    </tr>  
    </thead>  
    <tbody>  

{% for medi in a %}  
    <tr>  
 
        <td><center>{{ medi.m_name }}</center></td>
        <td><center>{{ medi.batch }}</center></td>
        <td><center>{{ medi.mfg }}</center></td>  
        <td><center>{{ medi.quantity }}</center></td>
        <td><center>{{ medi.rate }}</center></td>  
        <td><center>{{ medi.amount }}</center></td>  
        <td><center>{{ medi.formulation}}</center></td>
        <td>  
            <a href="/med/update/{{ medi.id }}"><span class="glyphicon glyphicon-pencil" ><center>Update</span></a>&nbsp;&nbsp;||&nbsp;  
            <a href="/med/delete/{{ medi.id }}">Delete</center></a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="{% url 'med:add' %}" class="btn btn-primary">Add New Record</a>&nbsp;&nbsp;&nbsp;&nbsp;</center>
</center>
</body>  
</html>  


